/* Importando fontes */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

body {
  font-family: "Poppins", sans-serif;
  background: #f8f8f8;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

a {
  color: #222;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #450210;
  text-decoration: none;
}
