
/* Importando fontes */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

body {
  font-family: "Poppins", sans-serif;
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

a {
  color: #222;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  text-decoration: none;
  color: #450210;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.container {
  width: 100%;
  max-width: 890px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 50px;
}

.signin-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signin-image {
  width: 45%;
  text-align: center;
}

.signin-image img {
  max-width: 100%;
  height: auto;
}

.signup-image-link {
  display: inline-block;
  margin-top: 20px;
  font-size: 14px;
  color: #6c63ff;
  text-decoration: underline;
}

.signin-form {
  width: 50%;
}

.form-title {
  font-size: 26px;
  font-weight: 700;
  color: #333;
  text-transform: capitalize;
  margin-bottom: 25px;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
}

.form-group label {
  position: absolute;
  top: 3px;
  left: 0;
  color: #000000;
  font-size: 18px;
}

.form-group input {
  width: 85%;
  padding: 10px 35px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  font-size: 15px;
  transition: 0.3s;
}

.form-group input:focus {
  border-color: #450210;
}

.form-submit {
  background: #6c63ff;
  color: #fff;
  border: none;
  padding: 12px 30px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
}

.form-submit:hover {
  background: #450210;
}

@media screen and (max-width: 768px) {
  .signin-content {
    flex-direction: column;
  }

  .signin-image,
  .signin-form {
    width: 100%;
  }

  .container {
    padding: 30px 20px;
  }
}
