/* IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

/* VARIÁVEIS CSS */
:root {
    --vinho: #702727;
    --vinho-escuro: #4d1b1b;
    --fundo-claro: #f8f6f2;
    --secao-clara: #fff9f7;
    --amarelo-estrela: #ff9f00;
    --main-color: #702727;
    --black: #13131a;
    --bg: #010103;
}


/* RESET GLOBAL */
* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
/* Remover capitalize de campos de entrada */
input,
textarea,
select,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="search"] {
    text-transform: none;
}
